/*=============== FOOTER ===============*/
.footer{
   padding-block: 3rem 2.5rem;

   &__content{
      row-gap: 3rem;
   }
   &__logo{
      display: inline-block;
      color: var(--title-color);
      font-size: var(--h2-font-size);
      font-family: var(--second-font);
      font-weight: var(--font-medium);
      margin-bottom: .75rem;
    
      & span{
         background: var(--third-gradient);
         background-clip: text;
         -webkit-background-clip: text;
         color: transparent;
      }
   }
   &__data{
      grid-template-columns: repeat(2, max-content);
      gap: 2.5rem 4rem;
   }
   &__title{
      font-size: var(--h3-font-size);
      font-weight: var(--font-medium);
      margin-bottom: 1rem;
   }
   &__links{
      display: grid;
      row-gap: .75rem;
   }
   &__link{
      color: var(--text-color);
      transition: color .4s;

      &:hover{
         color: var(--title-color);
      }
   }
   &__social,
   &__group,
   &__terms{
      display: flex;
   }
   &__social{
      column-gap: 1.25rem;

      &-link{
         font-size: 1.25rem;
         background: var(--third-gradient);
         -webkit-background-clip: text;
         background-clip: text;
         color: transparent;
         transition: transform .4s;

         &:hover{
            transform: translateY(-.25rem);
         }
      }
   }
   &__group{
      margin-top: 4rem;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
   }
   &__terms{
      column-gap: 1.5rem;

      & a{
         font-size: var(--small-font-size);
         color: var(--text-color);
      }
   }
   &__copy{
      font-size: var(--small-font-size);
      text-align: center;
   }
}
