/*=============== CHOOSE ===============*/
.choose{
   &__container{
      row-gap: 3rem;
   }
   &__blob{
      width: 220px;
      height: 320px;
      border: 6px solid transparent;
      background: var(--second-gradient) padding-box,
                  linear-gradient(90deg,
                  hsl(20, 72%, 65%) 0%,
                  hsl(20, 78%, 80%) 100%) border-box;
      border-radius: 20rem 20rem 0 0;
   }
   &__image{
      position: relative;
      justify-self: center;
   }
   &__shadow{
      position: absolute;
      width: 170px;
      height: 30px;
      background: hsla(15, 60%, 52%, .6);
      bottom: -.75rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      filter: blur(12px);
      z-index: -1;
   }
   &__img{
      position: relative;
      display: block;
      width: 160px;
      margin: 0 auto;
      transform: translateY(-6px);
      z-index: 2;
   }
   &__blob-title{
      font-size: 3.5rem;
      letter-spacing: 2px;
      color: hsla(0, 0%, 100%, .3);
      font-weight: var(--font-medium);
      position: absolute;
      left: .5rem;
      bottom: 2.5rem;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
   }
   &__data{
      text-align: center;
   }
   &__content,
   &__faq{
      display: grid;
      row-gap: 2rem;
   }
   &__faq{
      &-header{
         display: flex;
         align-items: center;
         column-gap: .75rem;
         cursor: pointer;
      }
      &-title{
         font-size: var(--normal-font-size);
      }
      &-icon{
         display: inline-flex;
         padding: .25rem;
         background: var(--third-gradient);
         border-radius: .5rem;
         color: var(--white-color);
         font-size: 1.25rem;
         box-shadow: 0 2px 8px hsla(15, 68%, 32%, .4);
         transition: box-shadow .4s;
         
         & i{
            transition: transform .3s;
         }
      }
      &-description{
         padding: .5rem 1rem 0 2.5rem;
      }
      &-content{
         overflow: hidden;
         height: 0;
         transition: height .3s ease;
      }
   }
}

/* FAQ status change */
.faq-open{
   // Rotate icon
   & .choose__faq-icon i{
      transform: rotate(45deg);
   }
   // Change color icon
   & .choose__faq-icon{
      background: var(--white-color);
      color: var(--first-color-alt);
      box-shadow: none;
   }
   // Title color change
   & .choose__faq-title{
      background: var(--third-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
   }
}