/*=============== FEATURES ===============*/
.features{
   &__container{
      row-gap: 3rem;
   }
   &__blob{
      width: 220px;
      height: 320px;
      border: 6px solid transparent;
      background: var(--second-gradient) padding-box,
                  linear-gradient(90deg,
                  hsl(20, 72%, 65%) 0%,
                  hsl(20, 78%, 80%) 100%) border-box;
      border-radius: 20rem 20rem 0 0;
   }
   &__image{
      position: relative;
      justify-self: center;
   }
   &__shadow{
      position: absolute;
      width: 170px;
      height: 30px;
      background: hsla(15, 60%, 52%, .6);
      bottom: -.75rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      filter: blur(12px);
      z-index: -1;
   }
   &__img{
      position: relative;
      display: block;
      width: 190px;
      margin: 0 auto;
      transform: translateY(-6px);
      z-index: 2;
   }
   &__blob-title{
      font-size: 3.5rem;
      letter-spacing: 2px;
      color: hsla(0, 0%, 100%, .3);
      font-weight: var(--font-medium);
      position: absolute;
      right: .5rem;
      bottom: 2.5rem;
      writing-mode: vertical-lr;
   }
   &__data{
      text-align: center;
   }
   &__content,
   &__info{
      display: grid;
   }
   &__content{
      row-gap: 2rem;
   }
   &__info{
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;

      &-card{
         background: linear-gradient(180deg,
                     hsla(0, 0%, 86%, 0),
                     hsla(0, 0%, 100%, 1));
         padding: 2rem 1.5rem;
         text-align: center;
         transition: box-shadow .4s;
      }
      &-title{
         font-size: var(--h3-font-size);
         font-weight: var(--font-medium);
      }
   }
   &__info-card:hover{
      box-shadow: 0 12px 16px hsla(0, 0%, 0%, .1);
   }
   &__info-card:hover .features__info-title{
      background: var(--third-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
   }
}