/*=============== THEME ===============*/
.nav__buttons{
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.change-theme{
	font-size: 1.25rem;
	color: var(--white-color);
	transition: color .4s;
	cursor: pointer;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
   --title-color: hsl(0, 0%, 95%);
   --text-color: hsl(0, 0%, 70%);
   --body-color: hsl(0, 0%, 12%);
   --container-color: hsl(0, 0%, 15%);
}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme{
	& :is(.bg-header, .nav__menu){
		box-shadow: 0 2px 16px hsla(0, 0%, 0%, .2);
	}
	& :is(.home__shadow, .choose__shadow, .features__shadow, .join__shadow){
		background: hsla(15, 60%, 52%, .4);
	}
	& :is(.popular__card:hover, .features__info-card:hover, .products__card:hover){
		box-shadow: 0 12px 16px hsla(0, 0%, 0%, .2);
	}
	& :is(.popular__button, .choose__faq-icon, .products__button){
		box-shadow: 0 2px 8px hsla(15, 80%, 50%, .5);
	}
	& :is(.swiper-button-next, .swiper-button-prev){
		box-shadow: 0 2px 8px hsla(0, 0%, 0%, .2);
	}
	& .features__info-card{
		background: linear-gradient(180deg,
                     hsla(0, 0%, 12%, 0),
                     hsla(0, 0%, 15%, 1));
	}
	& .scrollup{
		box-shadow: 0 4px 16px hsla(0, 0%, 0%, .25);
	}
	&::-webkit-scrollbar{
		background-color: hsl(0, 0%, 15%);

		&-thumb{
			background-color: hsl(0, 0%, 25%);

			&:hover{
				background-color: hsl(0, 0%, 35%);
			}
		}
	}
}